<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href ng-click="$event.preventDefault();chatCtrl.logOut();"><i class="fa fa-sign-out fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <audio id="msg_notification" width="10" height="0">
        <source src="../audio/message-notification.wav" type="audio/wav">
    </audio>
    <div class="col-md-offset-1 col-md-10">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="lead">Hey <span ng-bind="chatCtrl.loggedUsername.chatname"></span></h2>
        </div>
        <div class="col-md-4 chatname-heading-right">

        </div>
        <div class="col-md-4">
            <ul class="media-list">
                <li class="media" ng-repeat="user in chatCtrl.chatlist">
                    <div class="media-left">
                        <a href="3">
                            <!--<img class="media-object" alt="" alt=""/>-->
                            <i class="fa fa-user fa-2x"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><strong><span ng-bind="user.chatname"></span></strong>&nbsp; <span class={{user.id}} style="display:none"><small>is typing ...</small></span></h4>
                        <p class="status"><span id={{user.id}} class="label label-default">OFFLINE</span></p>
                    </div>

                </li>

            </ul>
        </div>
        <div class="col-md-6 chat-pane">

            <div class="alert alert-info" role="alert">Doom Room Chat Room - Go Crazy <i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i></div>
            <ul class="list-group chat-list list-unstyled" id="chat_list">

            </ul>
            <div class="input-group chat-input">

                <input type="text" id="chat_input" class="form-control" ng-model="chatCtrl.message" placeholder="Type Message" ng-Keypress="chatCtrl.notify($event);"
                ng-Mouseleave="chatCtrl.hideNotification();" ng-Blur="chatCtrl.hideNotification();" />
                <span class="input-group-btn"><button type="button" id="btn_msg" class="btn btn-primary" ng-click="chatCtrl.sendMessage();">SEND</button></span>
            </div>
        </div>
    </div>
</div>